/* adding style to all the html */
* {
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #050404;
    
}

.about {
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
}
header {
    
  
    padding:  0;
    margin: 0;
    
    position: sticky;
    position: -webkit-sticky;

    
}
/* adding style the the navagation in header */
header nav {
    padding: 15px;
    font-size: 20px;
    position: sticky;
}
/* adding style to the ul inside of nav inside of header */
header nav ul {
  text-align: center;
  
 
    
}
/* adding style to the li insdie of ul inside of nav inside of header */
header nav ul li {
    display: inline-block;
    margin: 10px 50px;
   
    
    
}


/* adding style to a elements */
a {
    color: white;
}
a:hover {
    background-color: #FFC23C;
    border: solid;
}


.container {
    
    position: relative;
    bottom: 300px;
    left: 700px;
   
}
.skils {
   
    width: 100%;
    
    
}

.skills h2 {
    font-weight: 400;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #FFFFFF;
    font-size: 16px;
}

.progress-bar {
    background: #959595;
    width: 600px;
    height: 10px;
    border-radius: 5px;
}

.progress-bar div {
    height: 10px;
    border-radius: 5px;
    width: 0%;
}

.progress-bar div span {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #222;
    float: right;
    margin-top: -15px;
    margin-right: -20px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;

}

.html {
    background: #e91e63;
    animation: html 1s linear forwards;
}

.css {
    background: #cddc39;
    animation: css 1s linear forwards;
}

.javascript {
    background: #00bcd4;
    animation: javascript 1s linear forwards;
}

.html span {
    border: 1px solid #e91e63;
   
}

.css span {
    border: 1px solid #cddc39;
   
}

.javascript span {
    border: 1px solid #00bcd4;
    
}

@keyframes html {
    100%{
        width: 90%
    }
}

@keyframes css {
    100%{
        width: 80%
    }
}

@keyframes javascript {
    100%{
        width: 60%
    }
}

.img img{
    width: 30%;
    height: 20%;
    margin: 40px;
    
}

.mainclass {
    position: relative;

    left: 1000px;
    bottom: 600px;
}



/* adding style to the title2 class */
.title {
    font-size: 60px;
    color: white;
    
 
}

/* adding style to the p in the class mainclass2 */
.mainclass p {
    color: white;
    font-size: 25px;
    
    margin: 80px 125px;
}

/* adding style to the h2 in the class mainclass2 */
.mainclass h2 {

    color: white;
    font-size: 30px;
    margin: 90px 125px;
}

