* {
    box-sizing: border-box;
}

.title {
    font-size: 85px;
    color: black;
}

.title2 {
    font-size: 60px;
    color: black;
}
div p {

    color: black;
    font-size: larger;
}

body {

    background-color: rgb(175, 185, 174);
}
.Horiseon img {

    margin: 10px auto;
    max-width: 1000px;
    border: solid;
    border-color: black;

}

.Horiseon img:hover{

    border-color:green;
}

.RunBuddy img {

    margin: 10px auto;
    max-width: 500px;
}

.hold1 {

    margin: 10px auto;
    max-width: 500px;
}

.hold2 {

    margin: 10px auto;
    max-width: 500px;
}

header {
    background-color: rgb(17, 16, 16);
    padding: 5px;
    margin: 10px 0;
    
}

header nav {
    top: 0;
    left: 0;
    font-size: 20px;
    color: white;
}

header nav ul {
    list-style-type: none;
    color: white;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    color: white;
}

.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    
  }

.banner {
    height: 800px;
    width: 50%;
    margin: 0;
    background-image: url(../images/pic.jpg);
    background-size: cover;
    float: right;
    
  }
  
footer {

    color: black;
}