
/* adding style to all the html */
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 5px;
   
}
/* adding style to the body */
body {

    background-color: rgb(0, 0, 0);
}
/* adding style to the header */
header {
    display: flex;
    background-color: rgb(17, 16, 16);
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: sticky;
    
    
}
/* adding style the the navagation in header */
header nav {
    top: 0;
    left: 0;
    font-size: 20px;
    position: sticky;
    
}
/* adding style to the ul inside of nav inside of header */
header nav ul {
    list-style-type: none;

    display: flex;

    flex-wrap: wrap;
  
    justify-content: space-between;
  
    align-items: center;
  
    list-style: none;
    
}
/* adding style to the li insdie of ul inside of nav inside of header */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
    
}
/* adding style to a elements */
a {
    color: white;
}

/*adding style the the ul in the class contactme */
.contactme ul {

    list-style-type: none;
    
    display: flex;

    flex-wrap: wrap;
  
    justify-content: space-between;
  
    align-items: center;

    flex-direction: column;
}

/*adding style to the li inside of the ul in the class contactme */
.contactme ul li {

    display: block;
    margin: 90px 150px;
    font-size: 50px;
    
}

/* adding style to the span inside of the class contact me  */
.contactme span {
    color: white;
    font-size: 50px;
}

/* adding style to the title class */
.title {
    font-size: 85px;
    color: white;
    margin: 17px 125px;
}

/* adding style to the title2 class */
.title2 {
    font-size: 60px;
    color: white;
    
    margin: 17px 75px;
}

/* adding style to the h2 in the mainclass class */
.mainclass h2 {

    color: white;
    font-size: 25px;
    margin: 80px 125px;
}

/* adding style to the class main class */
.mainclass {

    display: flex;

    flex-wrap: wrap;

    align-items: center;

    justify-content: space-between;
}

/* adding style to the class mainclass2 */
.mainclass2 {
    display: flex;

    flex-wrap: wrap;

    align-items: center;

    justify-content: space-between;
}

/* adding style to the p in the class mainclass */
.mainclass p {
    color: white;
    font-size: 25px;
    margin: 80px 125px;
}

/* adding style to the p in the class mainclass2 */
.mainclass2 p {
    color: white;
    font-size: 25px;
    
    margin: 80px 125px;
}

/* adding style to the h2 in the class mainclass2 */
.mainclass2 h2 {

    color: white;
    font-size: 30px;
    margin: 90px 125px;
}

/* adding style to the class caption */
.caption {
    float: right;
    margin-top: 10px;
    font-size: 25px;
}

/* adding style to the img in the class Horiseon */
.Horiseon img {

    height: 200px;
    border: solid;

}

/* adding a hover effect to the img in the class Horiseon */
.Horiseon img:hover{

    border-color:green;
    height: 220px;
}

/* adding style to the img in the class RunBuddy */
.RunBuddy img {

    height: 150px;
    border: solid;
}

/* adding a hover effect to the img in the class RunBuddy */
.RunBuddy img:hover{

    border-color:green;
    height: 200px;
}

/* adding style to the img in the class hold1 */
.hold1 img {

    height: 150px; 
    border: solid;
}

/* adding a hover effect to the img in the class hold1 */
.hold1 img:hover{

    border-color:green;
    height: 200px;
}

/* adding style to the img in the class hold2 */
.hold2 img {

    height: 150px;
    border: solid;
}

/* adding a hover effect to the img in the class hold2 */
.hold2 img:hover{

    border-color:green;
    height: 200px;
}

/* adding style to the my work class */
.mywork {

    width: 75%;
    
    margin: 100px;
    
    display: flex;

    flex-wrap: wrap;

    justify-content: space-around;
    flex-direction: column;

    flex: 1;

}

/* adding style to the Horiseon class */
.Horiseon {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: rgb(11, 1, 56);
    color: #ffffff;
    
}

/* adding style to the RunBuddy class */
.RunBuddy {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: rgb(11, 1, 56);
    color: #ffffff;
    
}

/* adding style to the hold1 class */
.hold1 {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(11, 1, 56);
    color: #ffffff;
    
}

/* adding style to the hold2 class */
.hold2 {

    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(11, 1, 56);
    color: #ffffff;
    
}




/* adding style to the box class */
.box {
    display: inline-block;
    width: 200px;
    height: 200px;
    
  }

  /* adding style to the banner class */
.banner {
    height: 800px;
    width: 900px;
    margin: 20px 20px;
    background-image: url(../images/pic.jpg);
    background-size: cover;
    float: right;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  /* adding style to the footer class */
footer {

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    margin: 150px 400px;
    
}

/* adding a hover style to the ftam class */
.ftam:hover + .hide {

    
    display: block;
}

/* adding style to the hide class */
.hide {
    display: none;
    color: rgb(96, 145, 7);
    margin: 10px;
    font-size: 20px;
}

/*style for different size of screen width 980px */
@media screen and (max-width: 980px) {


    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div, footer h1 {
      text-align: center;
      width: 100%;
    }
  
    .mainclass {
      width: 100%;
    }

    .mainclass2 {
        width: 100%;
    }
    
    
    title {
      width: 100%;
      font-size: 40px;
    }

    .banner {

        width: 100%;
        
    }

    
    
    
    
   
  
}

/*style for different size of screen width 768px */
@media screen and (max-width: 768px) {


  .banner {
    width: 90%;
  }


  .mywork {

    flex: 0 100%;
  }
  
  
  }

/*style for different size of screen width 575px */
  @media screen and (max-width: 575px) {


  .banner{

    width: 100px;
    height: 100px;
  }



  .hold1 {

    flex: 0 100%;
  }


  .title{
    font-size: 40px;
  }
  
  .caption {

    float: left;
  }

  .footer {

    margin: 0;
    text-align: center;
  }

  .mywork {

    width: 45%;
    flex-direction: row-reverse;
  }

  
  }